<?xml version="1.0"?>
<config>
    <tabs>
        <shiphappy translate="label" module="shiphappy">
            <label><![CDATA[<div style="position: absolute;"><img id="fetchr-logo" src="" alt="" border="0" /></div>&nbsp;<script>
            var n = SKIN_URL.indexOf("adminhtml");
            $('fetchr-logo').src = SKIN_URL.substring(0, n) + "adminhtml/default/default/images/fetchrlogo.png";
            </script>]]></label>
            <sort_order>1</sort_order>
        </shiphappy>
    </tabs>
    <sections>
        <shiphappy translate="label">
            <label>Fetchr Shipping Configuration</label>
            <tab>shiphappy</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>300</expanded>
                    <fields>
                        <accounttype translate="label comment">
                            <label>Account Type</label>
                            <comment>Select account type provided by fetchr</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>shiphappy/accounttype</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </accounttype>
                        <servicetype translate="label comment">
                            <label>Service Type</label>
                            <comment>Select service type provided by fetchr</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>shiphappy/servicetype</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </servicetype>
                        <username translate="label comment">
                            <label>Username</label>
                            <comment>Enter username provided by fetchr</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </username>
                        <password translate="label comment">
                            <label>Password</label>
                            <comment>Enter password provided by fetchr</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                    </fields>
                </settings>
            </groups>
        </shiphappy>
    </sections>
</config>
